.market-container {
    position: relative;
    width: 100%;
}

.market-content {
    position: relative;
    z-index: 1;
}

.market-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
    opacity: 0.5;
}

.market-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, +40%);
}